body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #363734;
	font-size: 16px;
	line-height: 1.7;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1, h2, h3 {
	margin: 0.8em 0;
	padding: 0;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 1.7em;
	margin-bottom: 0;
}

.fading-grey {
	opacity: 0.7;
}


p {
	margin-bottom: 1em;
	padding: 0;
	font-size: 1em;
}

.btn {
	background: #ebae3d;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 2em;
	/*border: 1px solid #363734;*/
	display: inline-block;
	margin: 1em 0;
	/*opacity: 0.9;*/
}

.btn:hover {
	background: rgba(54, 55, 52, 0.8);
	color: #fff;
}

.orange {
	color: #ebae3d;
}

/* Header showcase*/

#showcase {
	min-height: 200px;
	color: #fff;
	text-align: center;
}

#showcase .bg-image {
	position: absolute;
	background: #363734;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400px;
	width: 100%;
	height: 200px;
	z-index: -1;
	/*opacity: 0.4;*/

}


#showcase h1 {
	padding-top: 0.3em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0.3em;
}

#showcase .content-wrap {
	padding: 0;
}

#theme {
	padding-bottom: 0;
	/*text-align: left;*/
}

#footer {
	background: #363734;
	color: #fff;
}

.content-wrap,
.theme-wrap,
.gallery-wrap,
.footer-wrap {
	margin: 0;
	/*padding: 1em;*/
	/*border: 1px solid red;*/
}


.footer-wrap {
	padding: 0.8em;
}

.image-wrap {
	padding: 0.5em;
}


@media(min-width: 1200px) {

	body {
		font-size: 20px;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-auto-rows: minmax(auto, 10px);
		/*border: 1px solid green;*/
		/*grid-gap: 1em;*/

	}

	.content-wrap,
	.theme-wrap,
	.footer-wrap {
		grid-column: 2/5;

	}
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
	
	body {
		font-size: 18px;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: minmax(auto, 100px);
		/*border: 1px solid green;*/
		/*grid-gap: 1em;*/
	}

	.content-wrap,
	.theme-wrap,
	.footer-wrap {
		grid-column: 1/4;

	}
}

.image-wrap {
	border-bottom: 1px solid #363734;
	margin: 0.5em;
	/*background: rgba(54, 55, 52, 0.1);*/
}

			/*.gallery {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}*/