body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #363734;
	font-size: 16px;
	line-height: 1.7;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1, h2, h3 {
	margin: 0.8em 0;
	padding: 0;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2em;
}

.fading-grey {
	opacity: 0.7;
}


p {
	margin-bottom: 1em;
	padding: 0;
	font-size: 1em;
}

.btn {
	background: #ebae3d;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 2em;
	/*border: 1px solid #363734;*/
	display: inline-block;
	margin: 1em 0;
	/*opacity: 0.9;*/
}

.btn:hover {
	background: rgba(54, 55, 52, 0.8);
	color: #fff;
}

.orange {
	color: #ebae3d;
}

/* Header showcase*/

#showcase {
	min-height: 200px;
	color: #fff;
	text-align: center;
}

#showcase .bg-image {
	position: absolute;
	background: #363734;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400px;
	width: 100%;
	height: 200px;
	z-index: -1;
	/*opacity: 0.4;*/

}

#price h2 {
	margin-top: 0.1em;
	margin-bottom: 0.2em;
}

#showcase h1 {
	padding-top: 0.3em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0.3em;
}

#showcase .content-wrap {
	padding: 0;
}

#theme {
	padding-bottom: 0;
	/*text-align: left;*/
}

#footer {
	background: #363734;
	color: #fff;
}

.content-wrap,
.theme-wrap,
.image-wrap,
.specification-wrap,
.price-wrap,
.description-wrap,
.footer-wrap {
	margin: 0;
	/*padding: 1em;*/
	/*border: 1px solid red;*/
}

.price-wrap {
	border-top: 4px solid rgba(54, 55, 52, 0.5);
	border-bottom: 4px solid rgba(54, 55, 52, 0.5);
}

.footer-wrap {
	padding: 0.8em;
}



@media(min-width: 1200px) {

	body {
		font-size: 20px;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr 1fr;
		/*grid-auto-rows: minmax(auto, 10px);*/
		/*border: 1px solid green;*/
		grid-gap: 1em;

	}

	.content-wrap,
	.theme-wrap,
	.footer-wrap {
		grid-column: 2/4;

	}

	.image-wrap {
		grid-column: 2/3;
		grid-row: 1/3;
		align-self: center;
		/*align-items: center;*/

	}

	.specification-wrap {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.price-wrap {
		grid-column: 3/4;
		align-self: end;
		grid-row: 2/3;
	}

	.description-wrap {
		grid-column: 2/4;
		align-self: end;
	}




	.specification-wrap h2,
	.price-wrap h2 {
		margin: 0;

	}

}

@media screen and (max-width: 1200px) and (min-width: 700px) {
	
	body {
		font-size: 18px;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		/*grid-auto-rows: minmax(auto, 100px);*/
		/*border: 1px solid green;*/
		grid-gap: 1em;

	}

	.content-wrap,
	.theme-wrap,
	.footer-wrap {
		grid-column: 1/3;

	}

	.image-wrap {
		grid-column: 1/2;
		grid-row: 1/3;
		align-self: center;
		/*align-items: center;*/
	}

	.specification-wrap {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.price-wrap {
		grid-column: 2/3;
		align-self: end;
		grid-row: 2/3;
	}

	.description-wrap {
		grid-column: 1/3;
		align-self: end;
	}




	.specification-wrap h2,
	.price-wrap h2 {
		margin: 0;

	}

}